h1{
    text-align: center;    
}

.contenidoCompras{    
    font-family: 'Poppins', sans-serif;   
}

.opciones{
    display: flex;
    overflow: hidden;
    align-items: center;
}
.opciones .opcion{
    padding: 5px 10px;    
}

select{
    margin-top: 20px;
}

select, .label, input[type="text"], input[type="number"]{
    box-sizing: border-box;
    padding: 20px 5px;
    margin-top: 10px;
}

.label{
    font-size: 20px;
}

textarea{
    margin-top: 20px;
    resize: none;
    width: 35%;
    height: 100px;
}

